.ant-layout-content {
  background-color: white;
}

.ant-layout-header {
  background-color: #f08200;
}
.logo {
  width: 120px;
  height: 64px;
  background: rgba(255, 255, 255, 0.2);
  float: left;
}
.logo h1 {
  color: white;
  text-align: center;
}
